@import url('https://fonts.googleapis.com/css?family=Roboto:400|Open+Sans:300,700');

@font-face {
                          font-family: "IBMPlexSans";
                          src: url('../fonts/IBMPlexSans-Regular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "OpenSans-Regular";
                          src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
                        }
                        
.page4 {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(34, 34, 34, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
textarea:focus, input:focus {
  outline             : none;
}
div {
  -webkit-text-size-adjust: none;
}
.page4 .a45092 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -348px;
  height              : 1849px;
  width               : 1864px;
  position            : absolute;
  margin              : 0;
  left                : -180px;
  -ms-transform       : rotate(-16deg); /* IE 9 */
  -webkit-transform   : rotate(-16deg); /* Chrome, Safari, Opera */
  transform           : rotate(-16deg);
  opacity             : 0.17;
}
.page4 .rectangle {
  background-color    : rgba(34, 34, 34, 1.0);
  top                 : 0px;
  height              : 122px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.page4 .makeburgercopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 33px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 636px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 42.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.62px;
  line-height         : 55.0px;
}
.page4 .a18109copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 33px;
  height              : 57px;
  width               : 57px;
  position            : absolute;
  margin              : 0;
  left                : 549px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.page4 .rectangle1 {
  background-color    : rgba(132, 132, 132, 1.0);
  top                 : 184px;
  height              : 656px;
  width               : 1195px;
  position            : absolute;
  margin              : 0;
  left                : 123px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.57;
}
.page4 .textanswerhere {
  background-color    : rgba(255,255,255,0.0);
  top                 : 275px;
  height              : 32px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.66;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.92px;
  line-height         : 32.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.page4 .textanswerhere::placeholder {
  color               : rgba(255, 255, 255, 0.6);
}
.page4 .textanswerhere1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 419px;
  height              : 32px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.66;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.92px;
  line-height         : 32.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.page4 .textanswerhere1::placeholder {
  color               : rgba(255, 255, 255, 0.6);
}
.page4 .textanswerhere2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 560px;
  height              : 32px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.66;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.92px;
  line-height         : 32.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.page4 .textanswerhere2::placeholder {
  color               : rgba(255, 255, 255, 0.6);
}
.page4 .textanswerhere3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 662px;
  height              : 32px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.66;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.92px;
  line-height         : 32.0px;
  border              : 0;
  resize              : none;
  padding             : 0;
}
.page4 .textanswerhere3::placeholder {
  color               : rgba(255, 255, 255, 0.6);
}
.page4 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 264px;
  height              : 54px;
  box-sizing          : border-box;
  width               : 601px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.page4 .howdidyouhearabo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 219px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.31px;
  line-height         : 44.0px;
}
.page4 .rectanglecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 408px;
  height              : 54px;
  box-sizing          : border-box;
  width               : 601px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.page4 .howlikelyareyout {
  background-color    : rgba(255,255,255,0.0);
  top                 : 319px;
  height              : auto;
  width               : 602px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.31px;
  line-height         : 44.0px;
}
.page4 .rectanglecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 551px;
  height              : 54px;
  box-sizing          : border-box;
  width               : 601px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.page4 .howdidyourexperie {
  background-color    : rgba(255,255,255,0.0);
  top                 : 462px;
  height              : auto;
  width               : 602px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.31px;
  line-height         : 44.0px;
}
.page4 .rectanglecopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 651px;
  height              : 54px;
  box-sizing          : border-box;
  width               : 601px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.page4 .photo15655536429736afe791aee33 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 239px;
  height              : 546px;
  width               : 434px;
  position            : absolute;
  margin              : 0;
  left                : 833px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.page4 .photo15655536429736afe791aee33:hover {
  transform           : translate(0, -5px);
}
.page4 .photo15655536429736afe791aee33 .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 546px;
  width               : 434px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.page4 .photo15655536429736afe791aee33 .photo15655536429736afe791aee331 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -454px;
  height              : 1000px;
  width               : 846px;
  position            : absolute;
  margin              : 0;
  left                : -239px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.page4 .whatshouldwewrite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 606px;
  height              : auto;
  width               : 602px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.31px;
  line-height         : 44.0px;
}
.page4 .rectangle3 {
  background-color    : rgba(34, 34, 34, 1.0);
  top                 : 739px;
  height              : 69px;
  width               : 322px;
  position            : absolute;
  margin              : 0;
  left                : 303px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.page4 .thankyou {
  background-color    : rgba(255,255,255,0.0);
  top                 : 751px;
  height              : auto;
  width               : 183px;
  position            : absolute;
  margin              : 0;
  left                : 373px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.31px;
  line-height         : 44.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}